<div class="row">
    <div class="col-12">
        <form [formGroup]="donationForm" (submit)="onSubmit()">
            <div class="form-group row">
                <label for="name" class="col-2 col-form-label">Name</label>
                <div class="col-10">
                    <input formControlName="name" id="name" class="form-control" type="text" name="name">
                </div>
            </div>
            <div class="form-group row">
                <label for="description" class="col-2 col-form-label">Description</label>
                <div class="col-10">
                    <textarea formControlName="description" id="description" class="form-control" name="description"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="date" class="col-2 col-form-label">Donation Date</label>
                <div class="col-10">
                    <ngb-datepicker #dp formControlName="charity_date" (navigate)="date=$event.next" [startDate]="donationForm.controls['charity_date'].value"></ngb-datepicker>
                </div>
            </div>
            <div class="form-group row">
                <label for="categories" class="col-2 col-form-label">Categories</label>
                <div class="col-2">
                    <select class="form-control" name="categories" formControlName="categories" id="categories" multiple>
                        <option *ngFor="let category of categories" value="{{category}}">{{category}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="value" class="col-2 col-form-label">Value</label>
                <div class="col-10">
                    <input formControlName="estimated_value" id="value" class="form-control" type="text" name="value">
                </div>
            </div>
            <div class="float-right">
                <button type="submit" class="btn btn-primary" [disabled]="donationForm.invalid">Submit</button>
            </div>
        </form>
    </div>
</div>