<div class="row">
    <div class="col-12">
        <form>
            <div class="form-group form-row">
                <label>Estimated Value: </label>
                <div class="col-2">
                    <input class="form-control" (change)="updateSearch()" type="number" name="minValue" placeholder="Min" [(ngModel)]="search.minValue" min="0">
                </div>
                <div class="col-2">
                    <input class="form-control" (change)="updateSearch()" type="number" name="maxValue" placeholder="Max" [(ngModel)]="search.maxValue" min="0">
                </div>
            </div>
            <div class="form-group form-row">
                <label>Category: </label>
                <div class="col-3">
                    <select (change)="updateSearch()" name="categories" class="form-control" [(ngModel)]="search.categories">
                        <option value="">All</option>
                        <option *ngFor="let category of categories" value="{{category}}">
                            {{category}}
                        </option>
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>

